@import "fonts";
@import "colors";
@import "header";
@import "main";
@import "jumbotron";
@import "footer";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;

}

.roboto{
    font-family: 'Roboto', serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

.d-flex{
    display: flex;
}

.flex-end{
    justify-content: flex-end;
}

.flex-wrap{
    flex-wrap: wrap
}

.space-btw{
    justify-content: space-between;
}

.ms-50{
    margin-left: 50px;
}